*{
    margin: 0;
    padding: 0;

}

.main {
    height: 800px;
    width: 800px;
    margin: 0 auto;
    
}

.main-row {
    display: inline-block;
    height: 100px;
    width: 100%;
    
}

.odd{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color:aqua;
    margin: -2px;
   
}


.even{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgba(65, 65, 209, 0.685);
    margin: -2px;
   
}

img{

    height: 90px;
    display: block;
    margin: 5px auto;  
}

